@import url('https://fonts.googleapis.com/css2?family=Sigmar+One&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.App{
    display: flex;
    flex-direction: column;
    justify-content: first baseline;
    align-items: center;
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    background-color: #333;
    overflow-x: hidden;
}

.newGameBtn{
    width: 160px;
    height: 40px;
    border: 2px solid rgb(224, 167, 9);
    outline: none;
    border-radius: 20px;
    text-align: center;
    font-size: 20px;
    background-color: rgb(76, 92, 143);
    color: rgb(224, 167, 9);
    cursor: pointer;
    margin-top: 200px;
    transition: .3s linear;
    font-family: 'Sigmar One', cursive;
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0); 
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
}

button:hover{
    background-color: rgb(5, 23, 92);
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: first baseline;
    align-items: center;
    width: 100vw;
    height: 100vh;
    margin: 0 auto;
}

.gameOptions{
    display: flex;
    align-items: baseline;
    justify-content: center;
}

select{
    width: 160px;
    height: 40px;
    border: 2px solid rgb(224, 167, 9);
    outline: none;
    border-radius: 20px;
    text-align: center;
    font-size: 20px;
    background-color: rgb(76, 92, 143);
    color: rgb(224, 167, 9);
    cursor: pointer;
    margin-top: 10px;
    transition: .3s linear;
    font-family: 'Sigmar One', cursive;
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0); 
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
}

select:hover{
    background-color: rgb(5, 23, 92);
}

input{
    width: 160px;
    height: 40px;
    border: 2px solid rgb(224, 167, 9);
    outline: none;
    border-radius: 20px;
    text-align: center;
    font-size: 20px;
    background-color: rgb(76, 92, 143);
    color: rgb(224, 167, 9);
    cursor: pointer;
    margin-left: 20px;
    margin-right: 20px;
    transition: .3s linear;
    font-family: 'Sigmar One', cursive;
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0); 
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
}

.reloadBtn{
    width: 160px;
    height: 40px;
    border: 2px solid rgb(224, 167, 9);
    outline: none;
    border-radius: 20px;
    text-align: center;
    font-size: 20px;
    background-color: rgb(76, 92, 143);
    color: rgb(224, 167, 9);
    cursor: pointer;
    margin-top: 10px;
    transition: .3s linear;
    font-family: 'Sigmar One', cursive;
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0); 
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
}

.boardField{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100vw;
    background-color: #333;
}

.boardContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.board{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
    background-color: rgb(172, 183, 204);
    margin-top: 20px;
    margin-right: 20px;
    border-radius: 10px;
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0); 
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
}

.playfield{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    position: absolute;
    box-sizing: border-box;
    margin-top: 20px;
}

.cell{
    width: 60px;
    height: 60px;
    border: 1px solid #fff;
    background-color: rgb(172, 183, 204);
}

.rabbit{
    width: 60px;
    height: 60px;
    border: 1px solid #fff;
    background: url(/images/bunny.png);
    background-size: contain;
}

.wolf{
    width: 60px;
    height: 60px;
    border: 1px solid #fff;
    background: url(/images/wolf.png);
    background-size: contain;
}

.house{
    width: 60px;
    height: 60px;
    border: 1px solid #fff;
    background: url(/images/house.png);
    background-size: contain;
}

.fence{
    width: 60px;
    height: 60px;
    border: 1px solid #fff;
    background: url(/images/fence.png);
    background-size: contain;
}

.buttons-div{
    display: flex;
    flex-direction: row;
    position: absolute;
    width: 96px;
    height: 63px;
    background-color: rgb(103, 137, 199);
    border-radius: 10px;
    bottom: 0px;
}

.move-top{
    position: absolute;
    left: 33px;
    top: 0px;
    width: 30px;
    height: 30px;
    border: none;
    cursor: pointer;
    background: url(/images/arrows/arrow-up.png);
    background-size: contain;
}

.move-left{
    position: absolute;
    left: 3px;
    top: 33px;
    width: 30px;
    height: 30px;
    border: none;
    cursor: pointer;
    background: url(/images/arrows/arrow-left.png);
    background-size: contain;
}

.move-bottom{
    position: absolute;
    left: 33px;
    bottom: 0px;
    width: 30px;
    height: 30px;
    border: none;
    cursor: pointer;
    background: url(/images/arrows/arrow-down.png);
    background-size: contain;
}

.move-right{
    position: absolute;
    left: 63px;
    top: 33px;
    width: 30px;
    height: 30px;
    border: none;
    cursor: pointer;
    background: url(/images/arrows/arrow-right.png);
    background-size: contain;
}

.winner{
    display: block;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    font-weight: 900;
    color: green;
    background-color: rgb(138, 182, 138);
    z-index: 2;
    margin-top: 30%;
    padding: 60px;
    border-radius: 3px;
}







